:root {
  --neutral-50-501: #f5f4f6;
  --neutral-900: #0f0d12;
  --neutral-500: #a09fa1;
  --neutral-700: #616063;
  --primary-700-main: #925cc8;
  --primary-900: #3a1e55;
  --primary-500: #caa5ee;
  --primary-300: #eedcff;
  --primary-50-501: #faf5ff;
  --neutral-300: #d0cfd1;
  --white: white;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--neutral-50-501);
  color: var(--neutral-900);
  cursor: auto;
  font-family: Quadran, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quadran, sans-serif;
  font-size: 5.8rem;
  font-weight: 300;
  line-height: 1;
}

h2 {
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quadran, sans-serif;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 1;
}

h3 {
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quadran, sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  letter-spacing: -.5px;
  margin-bottom: 0;
  font-size: 1.375rem;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.25rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.form-message-success {
  padding: 1.25rem;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.text-color-black {
  color: var(--neutral-900);
}

.fs-styleguide_row {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  display: grid;
}

.fs-styleguide_row.is-for-social-icons {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_3-col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.show {
  display: block;
}

.fs-styleguide_color-sample {
  background-color: #f5f5f5;
  margin-top: .5rem;
  padding: 3rem 5rem;
}

.fs-styleguide_color-sample.is-neutral-500 {
  background-color: var(--neutral-500);
}

.fs-styleguide_color-sample.is-text-colour {
  background-color: var(--neutral-900);
}

.fs-styleguide_color-sample.is-neutral-700 {
  background-color: var(--neutral-700);
}

.fs-styleguide_color-sample.is-primary {
  background-color: var(--primary-700-main);
}

.fs-styleguide_color-sample.is-primary-900 {
  background-color: var(--primary-900);
}

.fs-styleguide_color-sample.is-primary-500 {
  background-color: var(--primary-500);
}

.fs-styleguide_color-sample.is-primary-300 {
  background-color: var(--primary-300);
}

.fs-styleguide_color-sample.is-primary-50 {
  background-color: var(--primary-50-501);
}

.fs-styleguide_color-sample.is-neutral-300 {
  background-color: var(--neutral-300);
}

.fs-styleguide_color-sample.is-neutral-50 {
  background-color: var(--neutral-50-501);
}

.overflow-hidden {
  overflow: hidden;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #386eec;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
}

.heading-medium {
  letter-spacing: -2px;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1;
}

.heading-medium.project_title {
  max-width: 12ch;
}

.heading-large {
  letter-spacing: -3px;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 1;
}

.text-weight-bold {
  font-weight: 700;
}

.text-size-large {
  letter-spacing: -1px;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
}

.icon-medium {
  height: 3rem;
}

.text-size-regular {
  letter-spacing: -.5px;
  font-size: 1.375rem;
  line-height: 1.3;
}

.text-weight-normal {
  font-weight: 400;
}

.fs-styleguide_section {
  grid-column-gap: 4rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.text-align-center {
  text-align: center;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.icon-small {
  height: 2rem;
}

.show-mobile-portrait {
  display: none;
}

.text-style-italic {
  font-family: Quadran, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.background-color-grey {
  background-color: var(--neutral-50-501);
}

.hide {
  display: none;
}

.fs-styleguide_section-type {
  color: var(--white);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.text-size-medium {
  letter-spacing: -.5px;
  font-size: 1.8rem;
  font-weight: 300;
}

.text-align-left {
  text-align: left;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-style-link {
  color: var(--primary-700-main);
  text-decoration: none;
}

.form-wrapper {
  margin-bottom: 0;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.2;
}

.text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: .75rem;
}

.text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: .5rem;
}

.text-rich-text p, .text-rich-text blockquote, .text-rich-text ul {
  margin-bottom: .75rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.icon-large {
  height: 4rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form-radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.heading-xlarge {
  letter-spacing: -2px;
  font-size: 5.8rem;
  font-weight: 300;
  line-height: 1;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.form-input {
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form-input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.page-wrapper.is-fixed {
  width: 100%;
  position: fixed;
  top: 0;
}

.text-size-tiny {
  font-size: .875rem;
  line-height: 1.2;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.form-checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.container-large {
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.fs-styleguide_classes {
  display: none;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.fs-styleguide_1-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_1-col.gap-medium {
  grid-row-gap: 2.5rem;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.fs-styleguide_2-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: start;
  display: grid;
}

.text-align-right {
  text-align: right;
}

.show-tablet {
  display: none;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-color-grey {
  color: var(--neutral-500);
}

.form-radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form-radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form-radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.show-mobile-landscape {
  display: none;
}

.background-color-white {
  background-color: #fff;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.icon-1x1-large {
  width: 4rem;
  height: 4rem;
}

.form-checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.utility_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility_form-block {
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

.utility_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility_image {
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.button-secondary {
  color: #386eec;
  text-align: center;
  background-color: #0000;
  border: .125rem solid #386eec;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
}

.button-text {
  color: #386eec;
  text-align: center;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
}

.margin-tiny {
  margin: .125rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.margin-xsmall {
  margin: .5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-xhuge {
  margin: 8rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.padding-tiny {
  padding: .125rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.padding-xsmall {
  padding: .5rem;
}

.padding-small {
  padding: 1rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 8rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.fs-styleguide_background-spacer {
  border: 1px solid var(--neutral-500);
  height: 5rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.heading-small {
  letter-spacing: -2px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
}

.heading-xsmall {
  letter-spacing: -1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_version-details {
  z-index: 5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.fs-styleguide_page-header {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fs-styleguide_message-outer {
  color: #fff;
  min-height: 100vh;
  padding: .75rem;
  display: flex;
}

.fs-styleguide_message-inner {
  background-color: #1a1a1a;
  border-radius: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_messege-content {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: .85fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.fs-styleguide_messege-heading {
  line-height: .8;
}

.fs-styleguide_messege-heading-span {
  font-size: 2.25rem;
  font-weight: 400;
}

.text-color-purple, .link {
  color: var(--primary-700-main);
}

.section-home-header {
  padding-top: 3.5rem;
}

.home-header_component {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 88vh;
  display: flex;
}

.home-header_title-wrapper {
  flex-direction: row;
  justify-content: space-between;
  min-height: 7.5rem;
  display: flex;
  overflow: hidden;
}

.home-header_title-right {
  max-width: 42%;
}

.home-header_title-left {
  max-width: 25%;
}

.home-header_content-wrapper {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.home-header_content-left {
  flex-direction: column;
  justify-content: flex-end;
  max-width: 36rem;
  display: flex;
}

.home-header_email-contact {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 15rem;
  display: flex;
}

.home-header_content-right {
  padding-right: 11.5rem;
  position: relative;
}

.home-header_trigger-wrapper {
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  position: relative;
}

.home-header_image {
  width: 20rem;
  max-width: none;
  min-height: 20rem;
  display: block;
  position: absolute;
  bottom: -56px;
}

.nav_component {
  z-index: 999;
  background-color: var(--neutral-50-501);
  width: 100%;
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  inset: 0 0% 0%;
}

.nav_component.for-homepage {
  background-color: var(--neutral-50-501);
  opacity: 0;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
  transform: translate(0, -40px);
}

.nav_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_link {
  padding: 1rem;
}

.nav_link.w--current {
  color: var(--neutral-900);
}

.nav_menu {
  align-items: stretch;
  display: flex;
}

.nav_availability-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 1.25rem;
  display: flex;
}

.nav_availability-icon {
  color: var(--neutral-900);
  background-color: #3e8f55;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav_brand-link {
  height: 1.4rem;
  padding-left: 0;
  display: flex;
  position: absolute;
}

.nav_brand-link.for-home {
  top: 1.7rem;
}

.nav_left-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 20rem;
  height: 1.6rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project_component {
  grid-column-gap: 3rem;
  grid-row-gap: 6.5rem;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project_item {
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.project_item.is-right {
  justify-content: flex-end;
}

.project_info-wrapper {
  flex-flow: column;
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.project_info-wrapper.is-right {
  text-align: right;
  align-items: flex-end;
}

.project_cover-image {
  object-fit: cover;
  position: relative;
}

.project_cover-image.is-right {
  order: 1;
}

.project_description {
  max-width: 28ch;
}

.project_image-wrapper {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project_image-wrapper.is-right {
  order: 1;
}

.project_work-image {
  z-index: -1;
  position: absolute;
}

.project_work-image.is-right {
  order: 1;
}

.project_title {
  text-transform: uppercase;
  max-width: 12ch;
}

.footer_component {
  background-color: var(--white);
  position: relative;
}

.footer_playgorund-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.footer_playground-cta.heading-medium {
  grid-column-gap: .5rem;
  flex: none;
  align-items: center;
  display: flex;
}

.footer_playgorund-thumbnails {
  grid-column-gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.footer_playgorund-thumbnails.hide-tablet {
  position: absolute;
  inset: 0% 0% 0% auto;
}

.footer_playgorund-thumb {
  max-width: 40%;
}

.footer_contact {
  justify-content: space-between;
  display: flex;
}

.footer_contact-email {
  grid-row-gap: .5rem;
  flex-direction: column;
  display: flex;
}

.footer_contact-socials {
  text-align: right;
  max-width: 44ch;
}

.footer_bottom {
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_go-up-cta {
  z-index: 1;
  grid-column-gap: .25rem;
  align-items: center;
  display: flex;
  position: relative;
}

.icon-up-arrow {
  align-items: center;
  display: flex;
}

.footer_webflow-credit {
  grid-column-gap: .3rem;
  color: var(--neutral-700);
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}

.section-about-laolu {
  padding-top: 3.5rem;
}

.about-laolu_component {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-style-superscript {
  margin-right: .25rem;
}

.process_component {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.process_item-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.work_component {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-history_item {
  border-bottom: 1px solid var(--neutral-500);
  padding-bottom: 3rem;
}

.work-history_item.is-last {
  border-bottom-style: none;
  padding-bottom: 0;
}

.work-history_item-top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.work-history_item-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section-project-header {
  padding-top: 3.5rem;
}

.project-header_top {
  justify-content: space-between;
  display: flex;
}

.project-header_desc-wrapper.max-width-small {
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.project-header_project-link {
  grid-column-gap: .5rem;
  color: var(--primary-700-main);
  align-items: center;
  display: flex;
}

.project-header_project-link.text-color-purple {
  grid-column-gap: .5rem;
}

.project-header_project-link.hide {
  display: none;
  overflow: visible;
}

.project-header_tags {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project-header_tag-number {
  grid-column-gap: .5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project-header_tag-number-line {
  background-color: var(--neutral-700);
  width: 4.5rem;
  height: 1px;
}

.project-header_tag-type {
  grid-column-gap: .3rem;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}

.project-header_image-wrapper {
  width: 100%;
}

.project-header_image {
  width: 100%;
  display: block;
}

.layout-2-col {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-intro-left {
  display: flex;
}

.project-intro-wrapper {
  flex: 0 auto;
  padding-right: 7rem;
}

.project-intro-wrapper.no-shrink {
  flex: none;
}

.project-media-wrapper {
  width: 100%;
  overflow: hidden;
}

.project-media-wrapper.has-bg {
  background-color: #4d4c4f;
  padding: 3.25rem 2.5rem;
}

.project-image {
  object-fit: cover;
  width: 100%;
}

.other-project-wrapper {
  grid-column-gap: 3rem;
  display: flex;
}

.other-project-image {
  width: 11.5rem;
}

.other-project-text {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.project_title-copy {
  max-width: 12ch;
}

.other-project-desc {
  margin-top: auto;
}

.project-link-icon {
  border: 1px solid var(--primary-700-main);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-link-icon-arrow {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.project-video {
  display: flex;
}

.section-playground-header {
  padding-top: 3.5rem;
}

.playground-image-wrapper {
  justify-content: space-between;
  display: flex;
}

.playground-image-wrapper.gap-4-5 {
  grid-column-gap: 4.5rem;
}

.playground-image-wrapper.gap-2-5 {
  grid-column-gap: 2.5rem;
}

.playground-image-wrapper.right-align {
  justify-content: flex-end;
}

.playground-showcase-padding {
  padding-left: 8rem;
  padding-right: 8rem;
}

.playground-image {
  max-width: 100%;
}

.playground-image.margin-top-8 {
  margin-top: 8rem;
}

.playground-image.margin-top-2 {
  margin-top: 2rem;
}

.playground-image.margin-top-5 {
  margin-top: 5rem;
}

.nav_scroll-text {
  display: none;
  position: absolute;
  top: .1rem;
}

.nav_scroll-text.for-home {
  display: block;
  top: .1rem;
}

.footer_playground-spacer {
  height: 13rem;
}

.nav_brand-logo {
  width: auto;
  height: 1.3rem;
}

.smooth-scroll-wrapper.disable {
  position: static;
}

.top-boy {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
}

.anim-wrapper {
  z-index: 1;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 16rem;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.anim-hide-wrapper {
  overflow: hidden;
}

.project_cover-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav_scroll-text-done {
  display: block;
  position: absolute;
  top: 1.7rem;
}

.nav_scroll-text-done.for-home {
  top: 1.7rem;
}

.footer-spacer {
  height: 2.5rem;
}

.home-intro {
  z-index: 9999;
  display: none;
  position: fixed;
  inset: 0%;
}

.mask-block-1 {
  background-color: var(--neutral-50-501);
  width: 24rem;
  height: 12rem;
  display: none;
  position: absolute;
  inset: 69vh auto auto 0%;
}

.mask-block-2 {
  background-color: var(--primary-700-main);
  width: 24rem;
  height: 12rem;
  display: none;
  position: absolute;
  top: 68vh;
}

.mask-block-top {
  background-color: var(--neutral-50-501);
  width: 100%;
  height: 64vh;
  display: block;
  position: absolute;
  inset: 0% 0% auto;
}

.mask-block-bottom {
  background-color: var(--neutral-50-501);
  width: 100%;
  height: 7vh;
  display: block;
  position: absolute;
  inset: auto 0% 0%;
}

.mask-block-left {
  background-color: var(--neutral-50-501);
  width: 30%;
  height: 100vh;
  display: block;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.mask-block-right {
  background-color: var(--neutral-50-501);
  width: 30%;
  height: 100vh;
  display: block;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.intro-text-1, .intro-text-2, .intro-text-3 {
  display: inline-block;
}

.emai-contact-icon-wrapper {
  background-color: var(--neutral-900);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.emai-contact-icon-1, .emai-contact-icon-2, .anim-hover-icon-1, .anim-hover-icon-2 {
  position: absolute;
}

.project-link-icon-arrow-2 {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.cursor-wrapper {
  z-index: 2000;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: opacity .28s;
  display: flex;
  position: fixed;
  inset: 0%;
}

.cursor {
  background-color: var(--primary-700-main);
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

.footer-closing {
  background-color: var(--primary-700-main);
  color: var(--white);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  display: flex;
}

.home-intro-tagline {
  z-index: 1;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  position: static;
  inset: 0% auto;
  overflow: hidden;
}

.home-intro-tagline-wrapper {
  grid-column-gap: .75rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.home-intro-icon {
  z-index: 1;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  position: static;
  inset: 0% auto;
  overflow: hidden;
}

.intro-icon {
  display: flex;
}

.about-laolu_image-mobile {
  display: none;
}

.home-header_title-middle {
  max-width: 31%;
}

.image {
  width: 14rem;
  height: 14rem;
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .spacing-clean {
    margin: 0;
    padding: 0;
  }

  .show-tablet {
    display: block;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fs-styleguide_messege-heading {
    font-size: 3rem;
    line-height: .9;
  }

  .fs-styleguide_messege-heading-span {
    font-size: 1.75rem;
  }

  .project_component {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .project_image-wrapper {
    flex: none;
    max-width: 27rem;
  }

  .project_work-image {
    position: static;
  }

  .footer_playgorund-thumb {
    max-width: 45%;
  }

  .footer_contact-socials {
    max-width: 36ch;
  }

  .layout-2-col {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .project_cover-image-wrapper, .cursor-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    letter-spacing: -1px;
    font-size: 2rem;
  }

  h3 {
    letter-spacing: -1px;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .fs-styleguide_row.is-for-social-icons {
    grid-template-rows: auto auto;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr 1fr;
  }

  .fs-styleguide_color-sample {
    padding: 2.5rem 2rem;
  }

  .heading-medium {
    letter-spacing: -1px;
    font-size: 1.5rem;
  }

  .heading-large {
    letter-spacing: -1px;
    font-size: 2rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .fs-styleguide_section-type {
    font-size: .875rem;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .spacing-clean {
    margin: 0;
    padding: 0;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .show-mobile-landscape {
    display: block;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-small {
    letter-spacing: -1px;
    font-size: 1rem;
  }

  .fs-styleguide_version-details {
    font-size: .875rem;
  }

  .fs-styleguide_page-header {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_message-outer {
    padding: 0;
  }

  .fs-styleguide_message-inner {
    border-radius: 0;
  }

  .fs-styleguide_messege-content {
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_messege-heading {
    font-size: 2.5rem;
    line-height: .9;
  }

  .fs-styleguide_messege-heading-span {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav_component.for-homepage {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .project_component {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .project_image-wrapper {
    max-width: 22rem;
  }

  .footer_contact {
    grid-row-gap: 4.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .footer_contact-socials {
    text-align: left;
    max-width: 42ch;
  }

  .footer_bottom {
    padding-top: 2.5rem;
  }

  .icon-right-arrow {
    width: 2rem;
    height: 2rem;
  }

  .project-header_tag-number-line {
    width: 3.5rem;
  }

  .layout-2-col {
    grid-row-gap: 3rem;
  }

  .layout-2-col.for-media {
    grid-row-gap: 1.25rem;
  }

  .project-intro-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .project-media-wrapper.has-bg {
    padding: 2rem;
  }

  .nav_menu-button {
    margin-right: -1rem;
    padding: 1rem .75rem 1rem 1rem;
  }

  .playground-image-wrapper.gap-4-5 {
    grid-column-gap: 2.25rem;
  }

  .playground-image-wrapper.gap-2-5 {
    grid-column-gap: 1.5rem;
  }

  .playground-showcase-padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .playground-image.margin-top-2 {
    margin-top: 1rem;
  }

  .playground-image.margin-top-5 {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 479px) {
  .show-mobile-portrait {
    display: block;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .spacing-clean {
    margin: 0;
    padding: 0;
  }

  .fs-styleguide_2-col {
    grid-template-columns: auto;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .home-header_component {
    height: 56vh;
  }

  .home-header_title-wrapper {
    order: -1;
    margin-bottom: 4rem;
  }

  .home-header_title-right {
    max-width: 96%;
  }

  .home-header_title-left {
    display: none;
  }

  .nav_link {
    padding: 1rem;
  }

  .nav_menu {
    margin-right: -1rem;
  }

  .nav_left-wrapper {
    justify-content: flex-start;
    min-width: 18rem;
  }

  .project_component {
    grid-column-gap: 2.5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project_item {
    grid-row-gap: 1.5rem;
    flex-direction: column;
  }

  .project_info-wrapper.is-right {
    text-align: left;
    align-items: stretch;
  }

  .project_image-wrapper {
    max-width: 100%;
  }

  .project_image-wrapper.is-right {
    order: -1;
  }

  .footer_bottom {
    grid-row-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-laolu_component {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-laolu_image {
    display: none;
  }

  .process_component {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .work_component {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-header_top {
    grid-row-gap: 2.5rem;
    flex-direction: column;
  }

  .project-header_tag-number {
    grid-column-gap: .25rem;
  }

  .project-header_tag-number-line {
    order: -1;
    width: 2rem;
  }

  .layout-2-col {
    grid-row-gap: 4rem;
  }

  .project-intro-left {
    grid-row-gap: 4rem;
    flex-direction: column;
  }

  .project-intro-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .project-media-wrapper.has-bg {
    padding: 1rem;
  }

  .other-project-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .other-project-text {
    grid-row-gap: 1rem;
    padding-right: 6rem;
  }

  .playground-image-wrapper.gap-4-5 {
    grid-column-gap: 1.5rem;
  }

  .playground-showcase-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .playground-image.margin-top-8 {
    margin-top: 5rem;
  }

  .playground-image.margin-top-5 {
    margin-top: 1.5rem;
  }

  .nav_scroll-text.for-home {
    display: block;
  }

  .intro-text-1, .intro-text-2, .intro-text-3 {
    display: inline;
  }

  .emai-contact-icon-wrapper {
    flex: none;
  }

  .about-laolu_image-mobile {
    display: inline-block;
  }

  .home-header_title-middle {
    display: none;
  }
}

#w-node-_926c50fa-5f75-f340-12f1-e577a24bbbce-7edffd40 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_5deeedb6-440a-4cdb-2ac3-bcc58ffdb73b-7edffd40 {
  grid-area: 2 / 4 / 3 / 12;
}

#w-node-_55631202-f28d-e655-0d3c-2bd4528e31c6-7edffd40 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-aeef7773-7717-8f3d-82be-a3bbc748c359-7edffd40 {
  grid-area: 4 / 4 / 5 / 12;
}

#w-node-_66fdc4d3-522d-8b6d-f7ce-f889f5c40d05-7edffd40 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_78ca95f9-e965-b511-177a-6a2aff253533-7edffd40, #w-node-_76ea743a-4a99-bae3-8d49-821d46ce4e11-7edffd40 {
  grid-area: 6 / 4 / 7 / 12;
}

#w-node-_674fe4f3-137b-bfac-0171-8456da2daaf6-7edffd40 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-5aa84198 {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-_7b884bef-f5ed-d31c-776f-eb8ee471b04c-5aa84198 {
  grid-area: 2 / 5 / 3 / 9;
}

#w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a6fb-5aa84198 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a701-5aa84198 {
  grid-area: 2 / 5 / 3 / 9;
}

#w-node-facf8616-4619-08dc-3f83-c9ef1c1be174-5aa84198 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-facf8616-4619-08dc-3f83-c9ef1c1be17c-5aa84198 {
  grid-area: 2 / 5 / 3 / 9;
}

#w-node-_557c99e6-66d8-3ca8-e95b-8ccecb5b49e6-a9469ac9, #w-node-f2698257-dc8a-eeb8-8458-030d55c65e12-a9469ac9, #w-node-be3135b4-6611-50f7-c835-7e4b2dedd678-a9469ac9, #w-node-ca073310-b08f-eb91-b438-d332e3f39abe-a9469ac9, #w-node-bcd54218-0a25-6a31-2ec8-d19574f24587-a9469ac9, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-a9469ac9, #w-node-_811e182f-736d-2793-e3be-ada8b8ca56b4-a9469ac9, #w-node-_103997e8-3476-cd16-33d5-599923453b97-a9469ac9, #w-node-_85c646bc-d00f-1515-8f72-53a93e1feab3-a9469ac9, #w-node-_17a1ebaf-b521-f122-e460-3ac833c02cf5-a9469ac9, #w-node-_77f77ee9-2484-312b-e844-dfe26c2c3f66-a9469ac9, #w-node-_557c99e6-66d8-3ca8-e95b-8ccecb5b49e6-d85fd46a, #w-node-f2698257-dc8a-eeb8-8458-030d55c65e12-d85fd46a, #w-node-be3135b4-6611-50f7-c835-7e4b2dedd678-d85fd46a, #w-node-ca073310-b08f-eb91-b438-d332e3f39abe-d85fd46a, #w-node-bcd54218-0a25-6a31-2ec8-d19574f24587-d85fd46a, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-d85fd46a, #w-node-_811e182f-736d-2793-e3be-ada8b8ca56b4-d85fd46a, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d4-d85fd46a, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d6-d85fd46a, #w-node-_9afd7e71-89bd-6758-d392-2cf13c4ee79a-d85fd46a, #w-node-_9afd7e71-89bd-6758-d392-2cf13c4ee79c-d85fd46a, #w-node-d442dd89-773f-09ac-a5a2-218e11e76d11-d85fd46a, #w-node-d442dd89-773f-09ac-a5a2-218e11e76d13-d85fd46a, #w-node-_17a1ebaf-b521-f122-e460-3ac833c02cf5-d85fd46a, #w-node-_557c99e6-66d8-3ca8-e95b-8ccecb5b49e6-00191715, #w-node-f2698257-dc8a-eeb8-8458-030d55c65e12-00191715, #w-node-be3135b4-6611-50f7-c835-7e4b2dedd678-00191715, #w-node-ca073310-b08f-eb91-b438-d332e3f39abe-00191715, #w-node-bcd54218-0a25-6a31-2ec8-d19574f24587-00191715, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-00191715, #w-node-f87b650a-61a6-553b-99b0-4cdd6b9cdff3-00191715, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d4-00191715, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d6-00191715, #w-node-_9f21edaf-90a7-d411-4825-1906c2340089-00191715, #w-node-_9afd7e71-89bd-6758-d392-2cf13c4ee79a-00191715, #w-node-_9afd7e71-89bd-6758-d392-2cf13c4ee79c-00191715, #w-node-_17a1ebaf-b521-f122-e460-3ac833c02cf5-00191715, #w-node-_557c99e6-66d8-3ca8-e95b-8ccecb5b49e6-c4c836fc, #w-node-f2698257-dc8a-eeb8-8458-030d55c65e12-c4c836fc, #w-node-be3135b4-6611-50f7-c835-7e4b2dedd678-c4c836fc, #w-node-ca073310-b08f-eb91-b438-d332e3f39abe-c4c836fc, #w-node-bcd54218-0a25-6a31-2ec8-d19574f24587-c4c836fc, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-c4c836fc, #w-node-_811e182f-736d-2793-e3be-ada8b8ca56b4-c4c836fc, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d4-c4c836fc, #w-node-_2dfd734e-556c-ed4c-54b5-fe01ee6141d6-c4c836fc, #w-node-_17a1ebaf-b521-f122-e460-3ac833c02cf5-c4c836fc {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-a78d967d {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

@media screen and (max-width: 991px) {
  #w-node-_5deeedb6-440a-4cdb-2ac3-bcc58ffdb73b-7edffd40, #w-node-aeef7773-7717-8f3d-82be-a3bbc748c359-7edffd40, #w-node-_78ca95f9-e965-b511-177a-6a2aff253533-7edffd40, #w-node-_76ea743a-4a99-bae3-8d49-821d46ce4e11-7edffd40 {
    grid-column: 2 / 10;
  }

  #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-5aa84198 {
    grid-area: span 1 / span 9 / span 1 / span 9;
  }

  #w-node-_7b884bef-f5ed-d31c-776f-eb8ee471b04c-5aa84198, #w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a701-5aa84198, #w-node-facf8616-4619-08dc-3f83-c9ef1c1be17c-5aa84198 {
    grid-area: 2 / 5 / 3 / 10;
  }

  #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-a78d967d {
    grid-area: span 1 / span 9 / span 1 / span 9;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_926c50fa-5f75-f340-12f1-e577a24bbbce-7edffd40 {
    grid-column: span 5 / span 5;
  }

  #w-node-_5deeedb6-440a-4cdb-2ac3-bcc58ffdb73b-7edffd40 {
    grid-column: 1 / 6;
  }

  #w-node-_55631202-f28d-e655-0d3c-2bd4528e31c6-7edffd40 {
    grid-column: span 5 / span 5;
  }

  #w-node-aeef7773-7717-8f3d-82be-a3bbc748c359-7edffd40 {
    grid-column: 1 / 6;
  }

  #w-node-_66fdc4d3-522d-8b6d-f7ce-f889f5c40d05-7edffd40 {
    grid-column: span 5 / span 5;
  }

  #w-node-_78ca95f9-e965-b511-177a-6a2aff253533-7edffd40, #w-node-_76ea743a-4a99-bae3-8d49-821d46ce4e11-7edffd40 {
    grid-column: 1 / 6;
  }

  #w-node-_674fe4f3-137b-bfac-0171-8456da2daaf6-7edffd40 {
    grid-column: span 5 / span 5;
  }

  #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-5aa84198 {
    grid-column: span 6 / span 6;
  }

  #w-node-_7b884bef-f5ed-d31c-776f-eb8ee471b04c-5aa84198, #w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a701-5aa84198, #w-node-facf8616-4619-08dc-3f83-c9ef1c1be17c-5aa84198 {
    grid-area: 2 / 3 / 3 / 10;
  }

  #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-a78d967d {
    grid-column: span 6 / span 6;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_926c50fa-5f75-f340-12f1-e577a24bbbce-7edffd40 {
    grid-column: span 3 / span 3;
  }

  #w-node-_5deeedb6-440a-4cdb-2ac3-bcc58ffdb73b-7edffd40 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_55631202-f28d-e655-0d3c-2bd4528e31c6-7edffd40 {
    grid-column: span 3 / span 3;
  }

  #w-node-aeef7773-7717-8f3d-82be-a3bbc748c359-7edffd40 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_66fdc4d3-522d-8b6d-f7ce-f889f5c40d05-7edffd40 {
    grid-column: span 3 / span 3;
  }

  #w-node-_78ca95f9-e965-b511-177a-6a2aff253533-7edffd40 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_76ea743a-4a99-bae3-8d49-821d46ce4e11-7edffd40 {
    grid-area: span 2 / span 3 / span 2 / span 3;
  }

  #w-node-_674fe4f3-137b-bfac-0171-8456da2daaf6-7edffd40, #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-5aa84198 {
    grid-column: span 3 / span 3;
  }

  #w-node-_7b884bef-f5ed-d31c-776f-eb8ee471b04c-5aa84198 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a6fb-5aa84198 {
    grid-column: span 3 / span 3;
  }

  #w-node-_463a79b4-8c28-7b7f-8cce-d316b1a1a701-5aa84198 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-facf8616-4619-08dc-3f83-c9ef1c1be174-5aa84198 {
    grid-column: span 3 / span 3;
  }

  #w-node-facf8616-4619-08dc-3f83-c9ef1c1be17c-5aa84198 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-a9469ac9, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-d85fd46a, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-00191715, #w-node-bcd54218-0a25-6a31-2ec8-d19574f2459a-c4c836fc {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_88ec84d0-6268-e2ee-4252-f02e8ceb4a18-a78d967d {
    grid-column: span 3 / span 3;
  }
}


@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-Bold.woff2') format('woff2'), url('../fonts/Quadran-Bold.eot') format('embedded-opentype'), url('../fonts/Quadran-Bold.woff') format('woff'), url('../fonts/Quadran-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-BoldItalic.woff2') format('woff2'), url('../fonts/Quadran-BoldItalic.eot') format('embedded-opentype'), url('../fonts/Quadran-BoldItalic.woff') format('woff'), url('../fonts/Quadran-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-Italic.woff2') format('woff2'), url('../fonts/Quadran-Italic.eot') format('embedded-opentype'), url('../fonts/Quadran-Italic.woff') format('woff'), url('../fonts/Quadran-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-Medium.woff2') format('woff2'), url('../fonts/Quadran-Medium.eot') format('embedded-opentype'), url('../fonts/Quadran-Medium.woff') format('woff'), url('../fonts/Quadran-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-MediumItalic.woff2') format('woff2'), url('../fonts/Quadran-MediumItalic.eot') format('embedded-opentype'), url('../fonts/Quadran-MediumItalic.woff') format('woff'), url('../fonts/Quadran-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-Regular.woff2') format('woff2'), url('../fonts/Quadran-Regular.eot') format('embedded-opentype'), url('../fonts/Quadran-Regular.woff') format('woff'), url('../fonts/Quadran-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-Light.woff2') format('woff2'), url('../fonts/Quadran-Light.eot') format('embedded-opentype'), url('../fonts/Quadran-Light.woff') format('woff'), url('../fonts/Quadran-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quadran';
  src: url('../fonts/Quadran-LightItalic.woff2') format('woff2'), url('../fonts/Quadran-LightItalic.eot') format('embedded-opentype'), url('../fonts/Quadran-LightItalic.woff') format('woff'), url('../fonts/Quadran-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}